html, body {
	height: 97%;
}
.imageSpacing {
    margin: 0px 5px;
}
.libraryCellWidth {
    width: 95%;
}
.tweetCellWidth {
    width:5%
}
.fullWidth {
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
#libraryView {
	display: none;
	height: 100%;
}
#libraries {
	background-color: #E6E6E6;
	overflow: auto;
	max-height: 90%;
}
#settingsView {
	display: none;
	height: 100%;
}